#logo img{
    width: 135px;
    margin-left: 850px;
    margin-top: 50px;
    position: absolute;
    
}
#linha_horizontal{
    color: #FF8C05;
    width: 78%;    
    margin-left: 11%;
    margin-top: 230px;
    border: 3px solid;
    position: absolute;
}