body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #232325;
    color: #ffffff;
    min-height: 100vh;
}
#logo img{
    width: 100px;
    left: 200px;
    top: 30px;
    position: relative;
}
.informacoes{
    position: absolute;
    top: 650px;
    background-color: #0D7A92;
    border-radius: 18px;
    height: 210px;
    width: 200px;  
}
.sublinhado{
    margin-top: -5px;  
    border: 1px solid; 
    color: #FF8C05;
    width: 113px;
    position: absolute;
    left: 19px;
}
.botaoInformacoes{
    position: absolute;
    bottom: 16px;
    left: 50px;
    border-radius: 10px;
    border: 1px solid;
    border-color: black;
    background-color: #FF8C05;
    color: #ffffff; 
}
.rodape{
    position: relative;
    bottom: -600px;
}
.table{
    position: absolute;
    color: #ffffff;
    position: absolute;
    bottom: -300px;
    left: 265px;
    font-size: 21pt;
    width: 1300px;
}
.comprarButton{
    position: relative;
    left: 30px;
    border-radius: 15px;
    background-color: #FF8C05;
    border: none; 
}
.linhaVertical{
    position: absolute;
    border: 1px solid;
    bottom: -384px;
    height: 268px;
    left: 550px; 
}
.iconCompra{
    width: 100px;
    left: 120px;
}
#informacao_planos{
    position: relative;
    bottom: -368px;
    left: 585px;
    background-color: #0D7A92;
    margin-right: 1194px;
    margin-left: -34px;
    width: 687px;
}
.linhaHorizontal{
    position: absolute;
    border: 1px solid;
    bottom: -384px;
    width: 687px;
    margin-left: -144px;
}
.imagensPlano{
    position: absolute;
    bottom: -650px;
    height: 350px;
    border: #ffffff 1px solid;
}
.tabela-de-precos{
    margin: 260px auto;
    position: relative;
    left: 30px;
}
.slider{
    margin: 90px auto;
    width: 1200px;
    height: 400px;
    overflow: hidden;
}
.slides{
    width: 400%;
    height: 400px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 25%;
    position: relative;
    transition: 1.5s;
}
.slide img{
    width: 1200px;
    height: 400px ;
}
.manual-navigation{
    position: absolute;
    width: 1200px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: rgb(255, 255, 255);
}
#radio1:checked ~.first{
    margin-left: 0;
}
#radio2:checked ~.first{
    margin-left: -25%;
}
#radio3:checked ~.first{
    margin-left: -50%;
}
#radio4:checked ~.first{
    margin-left: -75%;
}
.navigation-auto div{
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}