*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

.container{
    width: 750px;
    height: 500px;
    border: 1px solid;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content:space-around;
}

.container h1{
    text-align: center;
}

.primeira-linha{
     display: flex;
}

.proprietario{
    width: 100%;
    margin-right: 40px;
}

.campo-input{
    border: 1px solid #999;
}

.campo-input input{
    width: 100%;
    border:none;
    outline: none;
    padding: 10px;
}

.selecao{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selecao select{
    padding: 10px 20px;
}

a{
    background-color: blueviolet;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    transition: 0.5s;
}

a:hover{
    background-color: dodgerblue;
}

.cartoes img{
    width: 100px;
}