body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #232325;
    color: #ffffff;
    min-height: 100vh; 
}
#logo img{
    width: 100px;
    left: 120px;
    top: 30px;
    position: absolute;
}
.rodape{
    position: absolute;
    bottom: -600px;
}
.informacoes{
    position: relative;
    bottom: -250px;
    height: 600px;
}
.titulo{
    position: absolute;
    font-size: 18pt;
    left: 180px;
    width: 167px;
    top: -40px;
}
.texto_geral{
    height: 400px;
    top: 10px;
}
.ilustracao{
    height: 300px;
    position: absolute;
    left: 180px;
    bottom: 240px;
}
.texto_principal{
    position: absolute;
    font-size: 21pt;
    left: 540px;
    top: 55px;
    color: black;
}
#fundo_amarelo{
    position: relative;
    opacity: 0.9;
    background-color: #e29e15;
}
#texto_Comeco{
    position: absolute;
    font-size: 21pt;
    left: -100px;
    top: 20px;
    color: black;
}
#background-image{
    position: relative;
    background-image: url("imagens/quemSomos(imagem).jpg");
    opacity: 0.2;
    top: -390px;
}
#comecoDeTudo{
    left: 1355px;
    height: 350px;
    top: 35px;
}
#background-image-comeco{
    position: relative;
    background-image: url("imagens/arranjo-de-halteres-no-ginasio.jpg");
    opacity: 0.2;
    top: -390px;
    
}