body{
    background-color: #232325;
}
.App{
    
    margin: 0 auto;
    position: relative;
    width: 500px;
    bottom: -300px;
    background-color: #0D7A92;
    padding: 30px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}